<script type="text/javascript">
window['<?= $this->alias . ('handleClick');?>'] = function(that,data) {
	console.log(data.result);
	if(!(typeof data.result === 'undefined')) { 
			$('#Form-field-RegionModel-<?= $this->fieldName ?>-group').html(data.result);
			window['<?= $this->getId('done') ?>'] = !window['<?= $this->getId('done') ?>'];
			window['<?= $this->getId('sortthis') ?>']()	
	}
    //console.log(data);
    
	
}
</script>
    <?php //dump($this); ?>
<a id="<?= $this->getId("popuphandler"); ?>" data-control="popup" data-size="huge" data-handler="<?= $this->alias ?>::onContentPopup" data-keyboard="true" href="#" class="btn btn-sm btn-primary oc-icon-file">
	<?= (isset($this->config->buttonlabel) ? e(trans($this->config->buttonlabel)) : 'Add item')  ?>
</a>
<?php
	if(isset($this->config->displayForm)) {
		echo $this->makePartial($this->config->displayForm);
	} 
	else {
		echo $this->makePartial('relationDisplay');
	}
	
?>

